.signup-modal__content{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0);
}

.signup-modal__content form{
    min-width: 60vw;
    min-height: 50vh;
    margin-top: 150px;
    background: #FDF7F2;
}
.signup-modal__content h1{
    text-align: center;
}
.signup-modal--show{
    display: block;
}